body{
    background-color: #f0f8ff;
}

h1{
    font-family: monospace;
}

p{
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 400px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
}

#name{
    margin-top: 380px;
}